.list {
  display: flex;
  margin: 100px auto;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 180px;
  min-height: 200px;
  padding: 30px;
  background: var(--color-bg-primary);
  border: 2px solid var(--color-border-secondary);
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

.link:hover,
.link:focus-visible {
  border-color: var(--accent-color-hover);
  box-shadow: 0 0 5px rgba(212, 90, 81, 0.25);
  outline: none;

  transition: border-color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.icon {
  width: 56px;
  height: 56px;
}

.title {
  font-size: 22px;
  margin: 0;
}

.count {
  margin: 0;
  font-size: 18px;
}

/* 
@media (max-width: 1024px) {
  .list {
    gap: 16px;
    margin: 50px auto;
  }

  .card {
    width: 160px;
    min-height: 180px;
    padding: 25px;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .title {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .list {
    gap: 14px;
  }

  .card {
    width: 140px;
    min-height: 160px;
    padding: 20px;
  }

  .icon {
    width: 44px;
    height: 44px;
  }

  .title {
    font-size: 15px;
  }

  .count {
    font-size: 13px;
  }
}


@media (max-width: 480px) {
  .list {
    gap: 12px;
    margin: 40px auto;
  }

  .card {
    width: 120px;
    min-height: 140px;
    padding: 18px;
    gap: 6px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 14px;
  }

  .count {
    font-size: 12px;
  }
} */
