.list {
  display: flex;
  padding: 0;
}

.card {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header {
  margin: 0 auto 20px;
}

.image-wrapper {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.25s ease;
  background: var(--color-bg-secondary);
}

.image-wrapper img {
  width: 80px;
  height: 80px;
  transition: transform 0.25s ease;
}

.image-wrapper:hover {
  transform: scale(1.03);
}

.image-wrapper:hover img {
  transform: scale(1.06);
}

.card-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.card-body h2 {
  margin: 0 0 12px;
  font-size: 22px;
}

.card-body p {
  margin: 8px 0;
  font-size: 18px;
  left: 0;
  right: 0;
  text-align: center;
}
