.section {
  margin: 0;
  padding: 0;
}

.bg {
  background-color: var(--color-bg-section);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}

.section-header {
  margin-bottom: 30px;
  text-align: left;
}

.section-header h2 {
  font-size: 40px;
}

.section-header p {
  font-size: 20px;
}
