.form {
  display: flex;
  background-color: var(--color-bg-primary);
  margin: 80px;
  width: 1200px;
  height: 70px;
}

.form-field {
  position: relative;
  padding: 0 15px;
}

.form-field svg {
  width: 25px;
  height: 25px;
  color: var(--accent-color);
}

.form input {
  width: 400px;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}

.form button {
  border: none;
  font-size: 18px;
  padding: 0 80px;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.form button:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color-active);
}

.form button:hover {
  background: var(--accent-color-hover);
  border-color: var(--accent-color-hover);
}
