.footer {
  background-color: #343353;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
}

.footer section {
  display: flex;
  flex-direction: column;
  height: 250px;
  gap: 20px;
  margin: 0 50px;
}

.footer .logo-image {
  width: 100px;
  height: 100px;
}

.footer h2 {
  color: var(--color-text-inverse);
}

.footer section p,
a,
svg {
  color: var(--color-text-muted);
}

.footer section svg {
  height: 25px;
  width: 25px;
  transition: color 0.3s ease-in-out;
}

.intro .social-list {
  display: flex;
  list-style: none;
}

/* .privacy-policy {
  background-color: #22213f;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 120px;
} */
